# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Da Lat,VN,11.9465,108.4419,292.97,77,99,1.76,overcast clouds
1,1,Lorengau,PG,-2.0226,147.2712,302.14,71,94,1.31,overcast clouds
2,2,Sargodha,PK,32.0836,72.6711,286.84,66,0,2.38,clear sky
3,3,Bredasdorp,ZA,-34.5322,20.0403,289.04,66,100,3.30,overcast clouds
4,4,Kapaa,US,22.0752,-159.3190,301.14,72,40,6.69,scattered clouds
5,5,Hilo,US,19.7297,-155.0900,297.94,88,100,3.60,moderate rain
6,6,Port Elizabeth,ZA,-33.9180,25.5701,289.87,83,38,5.11,scattered clouds
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,296.22,94,100,11.67,moderate rain
8,8,Rikitea,PF,-23.1203,-134.9692,297.00,81,100,6.43,overcast clouds
9,9,Avarua,CK,-21.2078,-159.7750,298.18,61,60,6.17,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [28]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter the minimum temperature criteria "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter the maximum temperature criteria "))

Enter the minimum temperature criteria 273
Enter the maximum temperature criteria 290

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [29]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function

preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Sargodha,PK,32.0836,72.6711,286.84,66,0,2.38,clear sky
3,3,Bredasdorp,ZA,-34.5322,20.0403,289.04,66,100,3.30,overcast clouds
6,6,Port Elizabeth,ZA,-33.9180,25.5701,289.87,83,38,5.11,scattered clouds
10,10,Albany,US,42.6001,-73.9662,274.06,64,10,1.79,clear sky
14,14,Esperance,AU,-33.8667,121.9000,289.06,62,97,5.40,overcast clouds
19,19,Mar Del Plata,AR,-38.0023,-57.5575,288.20,97,100,8.05,overcast clouds
21,21,Ushuaia,AR,-54.8000,-68.3000,284.94,81,0,1.03,clear sky
26,26,Ancud,CL,-41.8697,-73.8203,285.48,97,100,6.08,light rain
27,27,Hasaki,JP,35.7333,140.8333,286.05,85,100,7.24,light rain
29,29,Jamestown,US,42.0970,-79.2353,274.92,91,100,0.45,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [30]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.pop('Unnamed: 0')

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,Sargodha,PK,32.0836,72.6711,286.84,66,0,2.38,clear sky
3,Bredasdorp,ZA,-34.5322,20.0403,289.04,66,100,3.30,overcast clouds
6,Port Elizabeth,ZA,-33.9180,25.5701,289.87,83,38,5.11,scattered clouds
10,Albany,US,42.6001,-73.9662,274.06,64,10,1.79,clear sky
14,Esperance,AU,-33.8667,121.9000,289.06,62,97,5.40,overcast clouds
19,Mar Del Plata,AR,-38.0023,-57.5575,288.20,97,100,8.05,overcast clouds
21,Ushuaia,AR,-54.8000,-68.3000,284.94,81,0,1.03,clear sky
26,Ancud,CL,-41.8697,-73.8203,285.48,97,100,6.08,light rain
27,Hasaki,JP,35.7333,140.8333,286.05,85,100,7.24,light rain
29,Jamestown,US,42.0970,-79.2353,274.92,91,100,0.45,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [31]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df =  clean_travel_cities[["City","Country","Max Temp", "Current Description", "Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
2         Sargodha      PK    286.84           clear sky  32.0836   72.6711
3       Bredasdorp      ZA    289.04     overcast clouds -34.5322   20.0403
6   Port Elizabeth      ZA    289.87    scattered clouds -33.9180   25.5701
10          Albany      US    274.06           clear sky  42.6001  -73.9662
14       Esperance      AU    289.06     overcast clouds -33.8667  121.9000
19   Mar Del Plata      AR    288.20     overcast clouds -38.0023  -57.5575
21         Ushuaia      AR    284.94           clear sky -54.8000  -68.3000
26           Ancud      CL    285.48          light rain -41.8697  -73.8203
27          Hasaki      JP    286.05          light rain  35.7333  140.8333
29       Jamestown      US    274.92     overcast clouds  42.0970  -79.2353

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [ ]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE

# Display sample data
# YOUR CODE HERE

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [32]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [33]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row[4]
    lng = row[5]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\choju\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\choju\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sargodha,PK,286.84,clear sky,32.0836,72.6711,Ayesha Hostel
3,Bredasdorp,ZA,289.04,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
6,Port Elizabeth,ZA,289.87,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
10,Albany,US,274.06,clear sky,42.6001,-73.9662,NaN
14,Esperance,AU,289.06,overcast clouds,-33.8667,121.9000,Hospitality Esperance
19,Mar Del Plata,AR,288.20,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
21,Ushuaia,AR,284.94,clear sky,-54.8000,-68.3000,Albatross Hotel
26,Ancud,CL,285.48,light rain,-41.8697,-73.8203,Hotel Arena Gruesa
27,Hasaki,JP,286.05,light rain,35.7333,140.8333,Inubosaki Kanko Hotel
29,Jamestown,US,274.92,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [38]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Sargodha,PK,286.84,clear sky,32.0836,72.6711,Ayesha Hostel
3,Bredasdorp,ZA,289.04,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
6,Port Elizabeth,ZA,289.87,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
14,Esperance,AU,289.06,overcast clouds,-33.8667,121.9000,Hospitality Esperance
19,Mar Del Plata,AR,288.20,overcast clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
21,Ushuaia,AR,284.94,clear sky,-54.8000,-68.3000,Albatross Hotel
26,Ancud,CL,285.48,light rain,-41.8697,-73.8203,Hotel Arena Gruesa
27,Hasaki,JP,286.05,light rain,35.7333,140.8333,Inubosaki Kanko Hotel
29,Jamestown,US,274.92,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
42,Kungsbacka,SE,281.66,overcast clouds,57.4872,12.0761,Hotell Halland AB

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [ ]:
# Set the file name.
output_data_file = # YOUR CODE HERE

# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [ ]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [ ]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [ ]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [ ]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

# Display the figure containing the map
# YOUR CODE HERE